body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    height: 75px;
    background: #DAE2F8;
    background: -webkit-linear-gradient(right, #DAE2F8, #D6A4A4 );
    background: -moz-linear-gradient(right, #DAE2F8, #D6A4A4 );
    background: linear-gradient(to left, #DAE2F8, #D6A4A4 );
}

#searchBtn {
    background-color: #5aa2e9;
    color: #fff;
}

#today {
    height: 25vh;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid black;
}

#forecast {
    height: 37vh;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
}
