body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 100px;
}

img {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
}

.card {
    width: 13vw;
    height: 35vh;
    background-color: #33475a;
    padding: 5px;
}

.date {
    font-size: 35px;
    color: #fff;
}

.temp,
.wind,
.humidity {
    font-size: 14px;
    color: #fff;
}

#currentdate {
    font-weight: bolder;
    padding-bottom: 10px;
}

#searchBtn {
    background-color: #5aa2e9;
    color: #fff;
}